<div
  class="modal fade"
  id="avatar-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-dialog" role="document" id="avatar-modal-container">
      <div class="modal-content">
        <div class="header">
          <div></div>
          <h5>Tải ảnh của bạn lên</h5>
          <i
            class="fa fa-times"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            aria-label="Close"
          ></i>
        </div>
        <div class="body">
          <div id="choose-image">
            <div class="upload">
              <div class="title">Tải ảnh lên</div>
              <div class="file">
                <input
                  type="file"
                  name="avatar"
                  id="upload-avatar-input"
                  accept="image/*"
                />
                <div class="file-placeholder">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <div>
                    <div>Tải ảnh lên</div>
                    <small><i>(Kích thước ảnh không quá 5MB)</i></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="your-avatar">
              <div class="title">Ảnh của bạn</div>
              <div class="container">
                <div class="list-your-avatar row">
                  <div class="your-avatar-item col-3">
                    <img src="/images/yourAvatar.jpg" alt="avatar" />
                  </div>
                  <div class="your-avatar-item col-3">
                    <img src="/images/art_drawing_avatar.jpg" alt="avatar" />
                  </div>
                  <div class="your-avatar-item col-3">
                    <img src="/images/boy_glass_avatar.jpg" alt="avatar" />
                  </div>
                  <div class="your-avatar-item col-3">
                    <img
                      src="/images/female_woman_avatar_portrait_4043248.png"
                      alt="avatar"
                    />
                  </div>
                  <div class="your-avatar-item col-3">
                    <img
                      src="/images/hipster_beard_male_man.png"
                      alt="avatar"
                    />
                  </div>
                  <div class="your-avatar-item col-3">
                    <img
                      src="/images/man_male_avatar_portrait_1.png"
                      alt="avatar"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="crop-image">
            <img src="" alt="" id="image-crop" />
            <div class="footer-action">
              <div id="change-image"></div>
              <div id="save-crop">Tải lên</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/avatarModal.css" />
<script src="/javascripts/avatarModal.js"></script>
