<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  </head>
  <body >
      <div style="background-color: #fff;">
    <div class="footer">
      <div class="footer_body">
        <div class="footer_body__item border_bottom_mobile">
          <div class="footer_body__item_title">THÀNH VIÊN CỦA ĐÒN BẨY SỐ</div>
          <div class="footer_body__item_description">
            <div class="footer_body__item_description_icon">
              <svg viewBox="0 0 384 512">
                <path
                  d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"
                />
              </svg>
            </div>
            <div class="footer_body__item_description_text">
              <p class="footer_body__item_description_text_title">Địa chỉ</p>
              <p class="footer_body__item_description_text_content">
                Số 348 Tố Hữu, phường La Khê, quận Hà Đông, TP. Hà Nội
              </p>
            </div>
          </div>
          <div class="footer_body__item_description">
            <div class="footer_body__item_description_icon">
              <svg
                class="MuiSvgIcon-root"
                focusable="false"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"
                ></path>
              </svg>
            </div>
            <div class="footer_body__item_description_text">
              <p class="footer_body__item_description_text_title">Điện thoại</p>
              <p class="footer_body__item_description_text_content">
                0936.33.81.39
              </p>
            </div>
          </div>
          <div class="footer_body__item_branch">
            <a
              href="https://www.dmca.com/Protection/Status.aspx?ID=7816605d-fbd2-45f8-a397-eeac42642b75&refurl=https://ketnoiviec.net/"
              rel="nofollow"
              target="_blank"
            >
              <img
                src="https://static.nhadatmoi.net/default/dmca.png"
                alt="DMCA"
                class="dmca"
              />
            </a>
          </div>
        </div>
          <div >
              <div style="display: flex;justify-content: space-between;padding-bottom: 16px; border-bottom: 1px solid #0000000f;">
            <div class="footer_body__item">
              <div class="footer_body__item_title">Công ty</div>
              <div class="footer_body__item_description">
                <a href="{process.env.REACT_APP_ABOUT_US_URL}"
                  >Về Kết Nối Việc</a
                >
              </div>
              <div class="footer_body__item_description">
                <a href="{process.env.REACT_APP_JOIN_RECRUITMENT_URL}"
                  >Tuyển dụng</a
                >
              </div>
              <div class="footer_body__item_description">
                <a href="{process.env.REACT_APP_ABOUT_US_URL}">Đội ngũ</a>
              </div>
              <div class="footer_body__item_description">
                <a href="{process.env.REACT_APP_ABOUT_US_URL}"
                  >Thông tin liên hệ</a
                >
              </div>
            </div>
            <div  class="footer_body__item">
              <div class="footer_body__item_title">Điều khoản</div>
              <div class="footer_body__item_description">
                <a href="#">Quy chế hoạt động</a>
              </div>
              <div class="footer_body__item_description">
                <a href="#">Chính sách bảo mật</a>
              </div>
              <div class="footer_body__item_description">
                <a href="#">Chính sách Cookie</a>
              </div>
              <div class="footer_body__item_description">
                <a href="#">Điều khoản sử dụng</a>
              </div>
            </div>
            <div  class="footer_body__item">
              <div class="footer_body__item_title">Thông tin</div>
              <div class="footer_body__item_description">
                <a href="https://ketnoiviec.net/tin-tuc">Tin tức tuyển dụng</a>
              </div>
              <div class="footer_body__item_description">
                <a href="#">Báo cáo & Phân tích</a>
              </div>
              <div class="footer_body__item_description">
                <a href="#">Kiến thức cho tuyển dụng</a>
              </div>
              <div class="footer_body__item_description">
                <a href="#">Hướng dẫn sử dụng</a>
              </div>
            </div>
            <div class="footer_body__item">
              <div class="footer_body__item_title">Mạng xã hội</div>
              <div class="footer_body__item_description">
                <a
                  href="https://www.facebook.com/ketnoiviec.net"
                  rel="nofollow"
                >
                  Facebook
                </a>
              </div>
              <div class="footer_body__item_description">
                <a href="#" rel="nofollow"> Youtube </a>
              </div>
              <div class="footer_body__item_description">
                <a href="#" rel="nofollow"> Twitter </a>
              </div>
              <div class="footer_body__item_description">
                <a href="#" rel="nofollow"> LinkedIn </a>
              </div>
            </div>
        </div>
        <div style="display: flex;">
            <div class="footer_body__apps">
              <div class="footer_body__apps_title">Phương thức thanh toán</div>
              <div class="footer_body__apps_payment">
                <img
                  src="https://static.nhadatmoi.net/default/visa.png"
                  alt="Visa"
                />
                <img
                  src="https://static.nhadatmoi.net/default/mastercard.png"
                  alt="Mastercard"
                />
                <img
                  src="https://static.nhadatmoi.net/default/atm.png"
                  alt="ATM"
                />
              </div>
            </div>
            <div  class="footer_body__apps">
              <div class="footer_body__apps_title">Ứng dụng di động</div>
              <div class="footer_body__apps_payment">
                <img
                  class="no_border"
                  src="https://static.nhadatmoi.net/default/apple-store.svg"
                  alt="Apple Store"
                />
                <img
                  class="no_border"
                  src="https://static.nhadatmoi.net/default/google-play.svg"
                  alt="Google Play"
                />
              </div>
            </div>
        </div>
          </div>
        </div>
      </div>
      <div  class="footer_bottom" >
          <div  class="footer_bottom__left">
            © 2020 - Bản quyền của Công ty Cổ phần Giải pháp Công nghệ Đòn Bẩy
            Số
          </div>     
      </div>
    </div>
</div>
  </body>
</html>
