<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kết Nối Việc CV</title>
    <link rel="stylesheet" href="/stylesheets/landing.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <div class="landing-container">
      <div class="banner">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="1200"
          height="500"
          viewBox="0 0 1200 500"
        >
          <defs>
            <linearGradient
              id="linear-gradient"
              x1="0.5"
              x2="0.5"
              y2="1"
              gradientUnits="objectBoundingBox"
            >
              <stop offset="0" stop-color="#fff" />
              <stop offset="1" stop-color="#edf2ff" />
            </linearGradient>
          </defs>
          <rect
            id="Rectangle_6"
            data-name="Rectangle 6"
            width="1200"
            height="500"
            fill="url(#linear-gradient)"
          />
        </svg>
        <div class="left-banner">
          <h1>Tạo CV cho</h1>
          <h1>tương lai của bạn</h1>
          <p>
            Viết CV là một công việc tẻ nhạt. Nhàm chán, khó hiểu, tốn thời
            gian. Với trình tạo CV của ketnoiviec.net, bạn sẽ tạo một tài liệu
            thể hiện bạn tốt nhất - nhanh chóng. Nhận công việc bạn muốn, không
            phải bất cứ điều gì được cung cấp
          </p>
        </div>
        <img src="/images/landing/banner-landing.svg" alt="" />
      </div>
      <div class="landing-content">
        <div class="landing-create-cv">
          <img src="/images/landing/image-create-cv.svg" alt="" />
          <div class="right-create-cv">
            <h1>Ketnoiviec.net. Trình tạo CV trực tuyến tốt nhất</h1>
            <p>
              Nếu một tờ giấy đại diện cho toàn bộ cuộc đời làm việc, tính cách
              và kỹ năng của bạn, thì đó tốt hơn là một tờ giấy khá tuyệt vời.
              Hãy để ketnoiviec.net thực hiện giúp bạn.
            </p>
            <a href="/mau-cv">tạo cv của bạn ngay bây giờ</a>
          </div>
        </div>

        <div class="landing-intro">
          <h1>Tạo CV một cách dễ dàng</h1>
          <div class="landing-list-intro">
            <div>
              <img
                class="landing-intro-image"
                src="/images/landing/Icon-04.svg"
                alt=""
              />
              <img
                class="landing-intro-image-active"
                src="/images/landing/Icon Hover-01.svg"
                alt=""
              />
              <p>Trải nghiệm người dùng thân thiện</p>
            </div>
            <div>
              <img
                class="landing-intro-image"
                src="/images/landing/Icon-05.svg"
                alt=""
              />
              <img
                class="landing-intro-image-active"
                src="/images/landing/Icon Hover-02.svg"
                alt=""
              />
              <p>Tạo CV nhanh chóng chỉ trong 10 phút</p>
            </div>
            <div>
              <img
                class="landing-intro-image"
                src="/images/landing/Icon-06.svg"
                alt=""
              />
              <img
                class="landing-intro-image-active"
                src="/images/landing/Icon Hover-03.svg"
                alt=""
              />
              <p>Dễ dàng điều động và thay đổi thông tin</p>
            </div>
            <div>
              <img
                class="landing-intro-image"
                src="/images/landing/Icon-07.svg"
                alt=""
              />
              <img
                class="landing-intro-image-active"
                src="/images/landing/Icon Hover-04.svg"
                alt=""
              />
              <p>
                Chức năng tách trang chính xác, hiệu quả và hoàn toàn tự động
              </p>
            </div>
            <div>
              <img
                class="landing-intro-image"
                src="/images/landing/Icon-08.svg"
                alt=""
              />
              <img
                class="landing-intro-image-active"
                src="/images/landing/Icon Hover-05.svg"
                alt=""
              />
              <p>
                Cài đặt quyền riêng tư có thể tùy chỉnh để chia sẻ hoặc công
                khai CV của bạn với đối tượng được nhắm mục tiêu
              </p>
            </div>
          </div>
        </div>
        <div class="landing-theme">
          <div class="landing-theme-grid">
            <div class="landing-theme-left">
              <h1>Mẫu CV đa dạng</h1>
              <div class="landing-theme-left-item">
                <img src="/images/landing/Icon-09.svg" alt="" />
                <span
                  >Các mẫu được điều chỉnh và tối ưu hóa cho các vị trí</span
                >
              </div>
              <div class="landing-theme-left-item">
                <img src="/images/landing/Icon-09.svg" alt="" />
                <span
                  >Nhiều tùy chọn để cá nhân hóa các mẫu CV của bạn theo sở
                  thích và nhu cầu cá nhân</span
                >
              </div>
              <div class="landing-theme-left-item">
                <img src="/images/landing/Icon-09.svg" alt="" />
                <span>Chuyển đổi giữa các mẫu dễ dàng và nhanh chóng</span>
              </div>
              <div class="landing-theme-left-item">
                <img src="/images/landing/Icon-09.svg" alt="" />
                <span>Các mẫu CV đẹp và hiện đại</span>
              </div>
            </div>
            <div class="landing-theme-right">
              <img src="/images/landing/Icon-03.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="landing-intro">
          <h1>Hoàn toàn miễn phí</h1>
          <div class="landing-list-intro">
            <div
              class="landing-free"
              style="
                border-radius: 8px;
                border: 1px solid #f0f0f0;
                height: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 16%;
              "
            >
              <div class="number">1</div>
              <p>Không giới hạn số lượng CV để tạo</p>
            </div>
            <div
              class="landing-free"
              style="
                border-radius: 8px;
                border: 1px solid #f0f0f0;
                height: 280px;
                display: flex;
                flex-direction: column;
                width: 16%;
                justify-content: space-around;
              "
            >
              <div class="number">2</div>

              <p>CV không giới hạn để chia sẻ</p>
            </div>
            <div
              class="landing-free"
              style="
                border-radius: 8px;
                border: 1px solid #f0f0f0;
                height: 280px;
                display: flex;
                flex-direction: column;
                width: 16%;
                justify-content: space-around;
              "
            >
              <div class="number">3</div>

              <p>Không giới hạn mẫu để sử dụng</p>
            </div>
            <div
              class="landing-free"
              style="
                border-radius: 8px;
                border: 1px solid #f0f0f0;
                height: 280px;
                display: flex;
                flex-direction: column;
                width: 16%;
                justify-content: space-around;
              "
            >
              <div class="number">4</div>

              <p>Bộ biểu tượng không giới hạn để lựa chọn</p>
            </div>
            <div
              class="landing-free"
              style="
                border-radius: 8px;
                border: 1px solid #f0f0f0;
                height: 280px;
                display: flex;
                flex-direction: column;
                width: 16%;
                justify-content: space-around;
              "
            >
              <div class="number">5</div>

              <p>Tất cả các chức năng hoàn toàn miễn phí</p>
            </div>
          </div>
        </div>
        <div class="landing-security">
          <div class="security-image">
            <img src="/images/landing/Bao-Mat-01.svg" alt="" />
          </div>
          <div class="security-text">
            <h1>Đảm bảo quyền riêng tư</h1>
            <b>Ketnoiviec.net có an toàn và hợp pháp không?</b>
            <p style="line-height: 1.4">
              Có, <a href="#">Ketnoiviec.net</a> là một doanh nghiệp hợp pháp mà
              bạn có thể tìm hiểu thêm trên trang Giới thiệu về
              <a href="#">Ketnoiviec.net</a>. Ứng dụng an toàn nhờ kết nối được
              mã hóa SSL https an toàn. Dữ liệu cá nhân của bạn được xử lý theo
              các chính sách nghiêm ngặt mà bạn có thể tìm hiểu thêm về
              <a href="#">điều khoản sử dụng</a>,
              <a href="#">chính sách bảo mật</a> và
              <a href="#"> chính sách cookie</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
