<link rel="stylesheet" href="/stylesheets/layoutModal.css" />

<div id="layout-modal">
  <div id="layout-modal-header">
    <div></div>
    <h5>Thay đổi bố cục CV</h5>
    <i class="fa fa-times" id="close-layout-modal" aria-hidden="true"></i>
  </div>
  <div id="layout-modal-body">
    <div id="layout-visible">
      <div class="layout-modal-title">Các mục đã hiển thị</div>
      <div id="layout-visible-table" class="layout-table-sort"></div>
    </div>
    <div id="layout-hidden">
      <div class="layout-modal-title">Các mục được ẩn</div>
      <div id="layout-hidden-table" class="layout-table-sort"></div>
    </div>
  </div>
</div>
