<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/previewModal.css" />
  </head>
  <div class="preview-modal">
    <div class="preview-modal-header">
      <div class="preview-modal-header-title"></div>
      <div class="x-touch">
        <div class="x">
          <div class="line1"></div>
          <div class="line2"></div>
        </div>
      </div>
    </div>
    <div class="preview-modal-body">
      <div class="preview-modal-body-loading">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
  <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
  <script src="/javascripts/previewModal.js"></script>
</html>
