<link rel="stylesheet" href="/stylesheets/themeModal.css" />

<div id="theme-modal">
  <div id="theme-modal-header">
    <div></div>
    <h5>Thay đổi mẫu CV</h5>
    <i class="fa fa-times" id="close-theme-modal" aria-hidden="true"></i>
  </div>
  <div class="theme-modal-body">
    <div id="list-theme"></div>
  </div>
</div>

<script src="/javascripts/themeModal.js"></script>
