body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.landing-container {
  max-width: 1193.9px;
  margin: auto;
}

.banner {
  width: 100%;
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
}

.banner svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.left-banner {
  width: 40%;
  padding: 50px;
  z-index: 2;
}

.left-banner h1 {
  line-height: 12px;
  color: #444444;
}

.left-banner p {
  color: #444444;
  line-height: 1.4;
  margin-top: 32px;
  letter-spacing: 0.5px;
}

.banner img {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0px;
  height: 100%;
  width: auto;
}

.landing-content {
  background-color: #fff;
}

.landing-create-cv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

.landing-create-cv img {
  flex: 1;
  height: 400px;
}

.right-create-cv {
  flex: 1;
  padding: 35px;
}

.right-create-cv h1 {
  width: 65%;
  color: #444444;
  line-height: 36px;
}

.right-create-cv p {
  color: #444444;
  line-height: 1.4;
  margin-top: 24px;
  letter-spacing: 0.5px;
}

.right-create-cv a {
  color: #fff !important;
  text-decoration: none !important;
  background-color: #0066ff;
  border-radius: 50px;
  padding: 12px 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 16px;
  display: inline-block;
  font-size: 14px;
}

.landing-intro {
  padding: 42px 50px;
}

.landing-intro h1 {
  color: #444444;
}

.landing-list-intro {
  display: flex;
  justify-content: space-between;
}

.landing-list-intro div {
  width: 20%;
  padding: 16px;
}

.landing-list-intro div:hover {
  background-color: #edf4ff;
  border: 1px solid #0066ff !important;
}

.landing-list-intro div:hover > img {
  display: none;
}

.landing-list-intro div:hover > .landing-intro-image-active {
  display: block;
}

.landing-list-intro div img {
  margin: 0px 40px;
}

.landing-intro-image-active {
  display: none;
}

.landing-list-intro div p {
  color: #444444;
  font-weight: 500;
}

.landing-theme {
  padding: 42px 50px;
}

.landing-theme-grid {
  display: flex;
  align-items: center;
}

.landing-theme-left {
  flex: 1;
}

.landing-theme-left h1 {
  margin-bottom: 32px;
  color: #444444;
}

.landing-theme-right {
  flex: 1;
}

.landing-theme-left-item {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}
.landing-theme-left-item img {
  width: 42px;
  height: 42px;
  margin-right: 14px;
}

.landing-theme-left-item span {
  font-size: 16px;
  color: #444444;
}

.number {
  background-color: #edf4ff;
  margin: auto;
  border-radius: 50%;
  width: 100px !important;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  padding: 0px !important;
  color: #444444;
}

.landing-security {
  display: flex;
  align-items: center;
  padding: 50px;
  color: #444444;
}

.security-image {
  flex: 1;
}

.security-text {
  flex: 1;
}

.security-text a {
  color: #0066ff;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

.landing-free {
  cursor: pointer;
}

.landing-free:hover {
  background-color: #edf4ff;
  border: 1px solid #0066ff !important;
}
.landing-free:hover > .number {
  background-color: #fff;
  color: #0066ff;
}
